@charset "utf-8";
.row .col-lg-4 .img-fluid.img-thumbnail {
    margin-left: 91px;
    padding-left: 0px;
	box-sizing: border-box
}
table tbody tr {
    padding-left: 0px;
}
tr td img {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
body p {
    background-color: rgba(208,153,154,1.00);
}
.container center table {
    background-color: #F9F5EA;
}
.carousel-item .carousel-caption h5 {
}
.carousel-item .carousel-caption h5 {
}
.carousel-item .carousel-caption h5 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: normal;
    text-align: center;
    font-size: 35px;
    /* [disabled]border-color: #FFFFFF; */
    color: #020202;
    top: 0px;
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    background-color: #77D6EC;
}
.footer_content1 .footer.footer_container {
    width: 800px;
    height: 200px;
    background-color: #045FA5;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    text-shadow: 0px 0px #107AAE;
}
.navbar-light.bg-light  {
    background-color: #D03032;
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    color: #FFFCFC;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-weight: bold;
    font-size: medium;
    text-shadow: 0px 0px #FFFFFF;
    background-color: #7D2DCE;
}
.container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 {
    background-color: #4999CB;
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    background-color: #DD7375;
}
.container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 {
    background-color: #9FE4B5;
    color: #0E0E0E;
    text-shadow: 0px 0px #000000;
}
.container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 {
}
.container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 {
    background-color: rgba(144,241,158,1.00);
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    background-color: rgba(144,241,158,1.00);
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    background-color: rgba(144,241,158,1.00);
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    background-color: rgba(144,241,158,1.00);
}
.container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
}
.container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
}
.container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    background-color: rgba(144,241,158,1.00);
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    background-color: rgba(144,241,158,1.00);
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    background-color: rgba(144,241,158,1.00);
}
.container-fluid form {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
body {
    background-color: rgba(247,243,233,1.00);
}

.container center table {
}
.container center table {
}
.container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 {
    background-color: rgba(255,251,243,1.00);
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    background-color: rgba(255,251,243,1.00);
}
.container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
}
.container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    background-color: rgba(255,251,243,1.00);
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    background-color: rgba(255,251,243,1.00);
}
.container-fluid .container #carouselExampleIndicators1 {
}
.container-fluid .container #carouselExampleIndicators1 {
}
.container-fluid .container #carouselExampleIndicators1 {
}
.container-fluid .container #carouselExampleIndicators1 {
    border-top-left-radius: 10px;
    color: rgba(0,0,0,1.00);
}
.container-fluid center h4 {
}
.container-fluid center h4 {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.container-fluid center h3 {
}
.container-fluid center h3 {
}
.container-fluid center h3 {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.container-fluid center h3 {
}
.container-fluid center h3 {
}
.container-fluid h3 {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.container-fluid h3 {
}
.container-fluid h3 {
}
.container-fluid center h3 {
}
.container-fluid .text-left {
}
.container-fluid .text-left {
    font-size: 25px;
}
.container-fluid center h2 {
}
.container-fluid center h2 {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.container-fluid .container .text-center {
}
.container-fluid .container .text-center {
}
#navbarSupportedContent1 .form-inline.my-2.my-lg-0 .btn.btn-outline-success.my-2.my-sm-0 {
}
#navbarSupportedContent1 .form-inline.my-2.my-lg-0 .btn.btn-outline-success.my-2.my-sm-0 {
    color: rgba(11,10,10,1.00);
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item.active {
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item.active {
    color: rgba(0,0,0,1.00);
    text-shadow: 0px 0px rgba(0,0,0,1.00);
}
.navbar-nav.mr-auto .nav-item.dropdown #navbarDropdown1 {
}
.navbar-nav.mr-auto .nav-item.dropdown #navbarDropdown1 {
    text-shadow: 0px 0px rgba(0,0,0,1.00);
}
.navbar-nav.mr-auto .nav-item.dropdown .dropdown-menu {
}
.navbar-nav.mr-auto .nav-item.dropdown .dropdown-menu {
}
.navbar-nav.mr-auto .nav-item.dropdown .dropdown-menu {
}
.navbar-nav.mr-auto .nav-item.dropdown .dropdown-menu {
    text-shadow: 0px 0px rgba(0,0,0,1.00);
}
.navbar-nav.mr-auto .nav-item .nav-link {
}
.navbar-nav.mr-auto .nav-item .nav-link {
    text-shadow: 0px 0px rgba(3,3,3,1.00);
}
#navbarSupportedContent1 .nav-link .img-fluid {
}
#navbarSupportedContent1 .nav-link .img-fluid {
    text-shadow: 0px 0px rgba(0,0,0,1.00);
}
tr td p {
}
td p strong {
}
td p strong {
    font-size: 25px;
}
td a .img-fluid {
}
form div #exampleInputPassword2 {
}
form div #exampleInputPassword2 {
    max-height: 100px;
}
.container-fluid .container .text-center {
}
.container-fluid .container .text-center {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.carousel-item.active .carousel-caption .text-left {
    color: rgba(0,0,0,1.00);
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.carousel-item .carousel-caption h5 {
}
.carousel-item .carousel-caption h5 {
}
.carousel-item .carousel-caption h5 {
    left: auto;
    bottom: auto;
}
.carousel-inner .carousel-item .carousel-caption {
}
